@media only screen and (max-width: 991px) {
  /* line 3, ../sass/_hide_small_screen_navbar.scss */
  .navbar {
    display: none;
  }
}
/* line 6, ../sass/forest.scss */
html, body {
  height: 100%;
  width: 100%;
  -webkit-tap-highlight-color: tranparent;
  -ms-overflow-style: scrollbar;
  font-family: 'PingFangTC-Regular', 'PingFangHK-Regular', 'PingFangSC-Regular', 'Helvetica', 'Microsoft JhengHei', 'Microsoft YaHei', 'MS Gothic', 'Malgun Gothic', 'Arial', 'sans-serif';
}

/* line 15, ../sass/forest.scss */
body {
  overflow-x: hidden;
}

/* line 18, ../sass/forest.scss */
.bg-light-green {
  background-color: #50aa8d;
  color: white;
}

/* line 22, ../sass/forest.scss */
.bg-dark-green {
  background-color: #2f5e4e;
  color: white;
}

/* line 26, ../sass/forest.scss */
.carousel-inner {
  width: 100%;
  height: 100%;
}

/* line 30, ../sass/forest.scss */
.carousel-control {
  background-image: none !important;
}

/* line 33, ../sass/forest.scss */
.header {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  padding: 0;
}
/* line 40, ../sass/forest.scss */
.header .header-down {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 10px;
  width: 50px;
  cursor: pointer;
  border: solid white 1px;
  border-radius: 25px;
}
/* line 51, ../sass/forest.scss */
.header .header-down img {
  width: 100%;
}

/* line 57, ../sass/forest.scss */
.header-content {
  width: 100%;
  height: 100%;
  background: url(../img/background.png) no-repeat center;
  background-size: cover;
}

/* line 64, ../sass/forest.scss */
.container {
  max-height: 100%;
}

/* line 68, ../sass/forest.scss */
.screenshot {
  display: none;
  margin: auto;
  max-height: 100%;
  width: 350px;
}
@media only screen and (min-width: 992px) {
  /* line 68, ../sass/forest.scss */
  .screenshot {
    display: block;
  }
}

/* line 77, ../sass/forest.scss */
.header-container {
  position: absolute;
  top: calc( 15% );
  left: 0;
  right: 0;
}

/* line 84, ../sass/forest.scss */
.header-info {
  vertical-align: middle;
  margin-top: 0px;
  text-align: left;
}
/* line 88, ../sass/forest.scss */
.header-info .icon {
  margin-top: 10px;
}
/* line 91, ../sass/forest.scss */
.header-info h1, .header-info h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  vertical-align: middle;
}
/* line 96, ../sass/forest.scss */
.header-info h1 {
  font-size: 4.6vw;
}
/* line 99, ../sass/forest.scss */
.header-info h3 {
  margin-top: 10px;
}
@media only screen and (max-width: 991px) {
  /* line 99, ../sass/forest.scss */
  .header-info h3 {
    font-size: 14pt;
  }
}
/* line 105, ../sass/forest.scss */
.header-info h4 {
  font-size: 2.3vw;
  margin-top: 5px;
}
/* line 110, ../sass/forest.scss */
.header-info .row {
  margin-bottom: 10px;
}
@media only screen and (min-width: 992px) {
  /* line 113, ../sass/forest.scss */
  .header-info .header-text {
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  /* line 118, ../sass/forest.scss */
  .header-info .download-container {
    text-align: left;
  }
}
/* line 124, ../sass/forest.scss */
.header-info .appstore-link {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 40%;
  color: white;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 7px;
  margin: 10px;
}
/* line 134, ../sass/forest.scss */
.header-info .appstore-link:hover:not(.mobile-store), .header-info .appstore-link:active:not(.mobile-store) {
  background-color: #50aa8d;
  border-color: #50aa8d;
  text-decoration: none;
}
/* line 139, ../sass/forest.scss */
.header-info .mobile-store {
  color: transparent;
  border: none;
  padding: 0;
}
/* line 145, ../sass/forest.scss */
.header-info .mobile-store img {
  width: 100%;
}
/* line 148, ../sass/forest.scss */
.header-info .mobile-store img {
  min-width: 100px;
  width: 100%;
}
/* line 155, ../sass/forest.scss */
.header-info .browser {
  display: none;
}
@media only screen and (min-width: 992px) {
  /* line 155, ../sass/forest.scss */
  .header-info .browser {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) {
  /* line 84, ../sass/forest.scss */
  .header-info {
    margin-top: 50px;
  }
}
@media only screen and (min-width: 992px) {
  /* line 84, ../sass/forest.scss */
  .header-info {
    margin-top: 80px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 84, ../sass/forest.scss */
  .header-info {
    margin-top: 150px;
  }
}

/* line 171, ../sass/forest.scss */
section {
  padding-top: 50px;
}
/* line 173, ../sass/forest.scss */
section h1, section h2, section h3, section h4, section h5, section h6 {
  text-align: center;
}
/* line 176, ../sass/forest.scss */
section h2, section h3 {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 181, ../sass/forest.scss */
.bubble {
  cursor: pointer;
  color: white;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: -500px;
  bottom: 20px;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  /* line 181, ../sass/forest.scss */
  .bubble {
    display: none;
  }
}
/* line 203, ../sass/forest.scss */
.bubble .x {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
/* line 211, ../sass/forest.scss */
.bubble .title {
  margin-left: 70px;
  font-size: 80%;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
/* line 216, ../sass/forest.scss */
.bubble .visible {
  position: absolute;
}
/* line 219, ../sass/forest.scss */
.bubble .invisible {
  color: transparent;
}
/* line 222, ../sass/forest.scss */
.bubble .content {
  margin-left: 70px;
  font-size: 70%;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
/* line 227, ../sass/forest.scss */
.bubble img {
  display: block;
  float: left;
  width: 60px;
  height: 60px;
  mix-blend-mode: normal;
}

/* line 235, ../sass/forest.scss */
.bubble::before {
  content: "";
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  border-radius: 10px 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(77, 163, 138, 0.8);
  mix-blend-mode: multiply;
}

/* line 250, ../sass/forest.scss */
.fadeout {
  opacity: 0;
  transition: opacity 0.5s;
}

@media only screen and (max-width: 767px) {
  /* line 255, ../sass/forest.scss */
  #features h3, #scenarios h3, #benefit h3 {
    font-size: 26px;
  }
}

/* line 262, ../sass/forest.scss */
#features, #scenarios, #xmas2016, #real-trees, #review {
  text-align: center;
  color: white;
}
/* line 265, ../sass/forest.scss */
#features .processes, #scenarios .processes, #xmas2016 .processes, #real-trees .processes, #review .processes {
  margin-top: 75px;
}
/* line 267, ../sass/forest.scss */
#features .processes .item, #scenarios .processes .item, #xmas2016 .processes .item, #real-trees .processes .item, #review .processes .item {
  margin-bottom: 75px;
}
/* line 271, ../sass/forest.scss */
#features img, #scenarios img, #xmas2016 img, #real-trees img, #review img {
  margin-bottom: 20px;
}

/* line 276, ../sass/forest.scss */
#features img {
  width: 200px;
}

/* line 281, ../sass/forest.scss */
#scenarios img {
  width: 300px;
}

/* line 285, ../sass/forest.scss */
#benefit {
  vertical-align: middle;
  padding-top: 150px;
  padding-bottom: 150px;
  color: white;
}
/* line 290, ../sass/forest.scss */
#benefit div {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  /* line 293, ../sass/forest.scss */
  #benefit h1, #benefit h2, #benefit h3, #benefit h4, #benefit div {
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 300, ../sass/forest.scss */
#benefit img {
  width: 300px;
}

/* line 306, ../sass/forest.scss */
#xmas2016 h1, #xmas2016 h2, #xmas2016 h3, #xmas2016 h4 {
  font-family: "Comic Sans MS Bold";
}
/* line 309, ../sass/forest.scss */
#xmas2016 .question-mark-container {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}
/* line 313, ../sass/forest.scss */
#xmas2016 .question-mark-container div {
  position: relative;
  display: inline-block;
}
/* line 318, ../sass/forest.scss */
#xmas2016 .question-mark-link {
  position: absolute;
  right: -25px;
  top: calc( 50% - 10px);
}
/* line 323, ../sass/forest.scss */
#xmas2016 .question-mark {
  width: 20px;
}
/* line 326, ../sass/forest.scss */
#xmas2016 img {
  width: 300px;
}

/* line 331, ../sass/forest.scss */
#real-trees {
  background: url(../img/real_tree_background.png) no-repeat center;
  background-size: cover;
}
@media only screen and (max-width: 991px) {
  /* line 334, ../sass/forest.scss */
  #real-trees .forest-icon {
    display: none;
  }
}
/* line 339, ../sass/forest.scss */
#real-trees div {
  text-align: justify;
}
/* line 342, ../sass/forest.scss */
#real-trees .step {
  margin-top: 60px;
  margin-bottom: 40px;
}
/* line 346, ../sass/forest.scss */
#real-trees a:link, #real-trees a:visited, #real-trees a:hover, #real-trees a:active {
  color: white;
  text-decoration: underline;
}

/* line 351, ../sass/forest.scss */
#review {
  margin: auto;
  background-color: #51a387;
  position: middle, absolute;
  color: white;
  padding-bottom: 50px;
}

/* line 358, ../sass/forest.scss */
.review-content {
  line-height: 30px;
  margin-right: 15%;
  margin-left: 15%;
  min-height: 200px;
  text-align: center;
  padding-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;
}
@media only screen and (min-width: 540px) {
  /* line 358, ../sass/forest.scss */
  .review-content {
    min-height: 0px !important;
  }
}

/* line 372, ../sass/forest.scss */
#review .carousel-indicators {
  bottom: -50px;
}

/* line 375, ../sass/forest.scss */
#media {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* line 379, ../sass/forest.scss */
#media div {
  display: flex;
  align-items: center;
}

/* line 384, ../sass/forest.scss */
#footer {
  background-color: #414141;
  color: white;
}
/* line 387, ../sass/forest.scss */
#footer .press {
  padding: 20px;
  min-height: 100px;
}
/* line 391, ../sass/forest.scss */
#footer .feature_image_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 396, ../sass/forest.scss */
#footer img {
  vertical-align: middle;
}
@media screen and (min-width: 768px) {
  /* line 400, ../sass/forest.scss */
  #footer .press {
    padding: 30px;
  }
}
/* line 405, ../sass/forest.scss */
#footer .press a {
  opacity: 0.8;
}
/* line 408, ../sass/forest.scss */
#footer .press a:hover, #footer .press a:active {
  opacity: 1.0;
}
/* line 412, ../sass/forest.scss */
#footer a {
  color: #9d9d9d !important;
  text-decoration: none !important;
}
/* line 416, ../sass/forest.scss */
#footer a:hover {
  color: white !important;
}
/* line 420, ../sass/forest.scss */
#footer .row div {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  /* line 419, ../sass/forest.scss */
  #footer .row {
    font-size: 15px;
  }
}
/* line 427, ../sass/forest.scss */
#footer hr {
  margin-bottom: 10px;
}
/* line 430, ../sass/forest.scss */
#footer .footnote {
  color: #9d9d9d;
  font-size: 11px;
  text-align: center;
  vertical-align: middle;
}
@media only screen and (min-width: 992px) {
  /* line 430, ../sass/forest.scss */
  #footer .footnote {
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  /* line 439, ../sass/forest.scss */
  #footer .copyright {
    text-align: right;
  }
}