body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5
}

ol, ul {
  padding-left: 20px;
}

nav {
  visibility: hidden;
}

blockquote {
  font-size: 16px !important;
  margin-left: -17px;
}

.header {
  width: 100%;
  display: table;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  padding: 50px 10px 0 10px;
}

.header-content {
  display: table-cell;
  vertical-align: middle;
}

.image-bg-header {
  text-align: center;
    background: url('../images/background.png') no-repeat center center scroll;
  background-size: cover;
  height: 400px;
}

.image-bg-teaching {
    background: url('../images/banner-teaching-2018.jpg') no-repeat center center scroll;
  background-size: cover;
  height: 150px;
}

@media (min-width: 768px) {
  .image-bg-teaching {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .image-bg-teaching {
    height: 450px;
  }
}

.img-center {
    margin: 0 auto;
}

.img-portrait {
    width: 150px;
    height: 150px;
    border: 0px solid white;
    border-radius: 16px;
}

.img-portrait-circle {
    width: 120px;
    height: 120px;
    border: 0px solid white;
    border-radius: 9999px;
}

.float-container {
    position: relative;
}

.float-item {
    float: left;
    margin: 0 16px 0 0;
    text-align: center;
}

.clearfloat {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}

.header-text {
    color: white;
    text-shadow: 0 0 12px #000000;
}

.lead {
    margin-top: 20px;
}

section {
    padding: 40px 0 0 0;
}

section#news {
    padding: 0;
}

aside {
    margin-top: 40px;
}

.portfolio-item {
    max-width: 360px;
    padding: 20px 0;
    margin: 0 auto;
}

.img-portfolio {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #DDDDDD;
    border-radius: 80px
}

footer {
    margin: 50px 0;
}

@media(min-width:768px) {
    nav {
        visibility: visible;
    }

    .lead {
        font-size: 18px;
    }

    section, section#news {
        padding: 50px 0 0 0;
    }

    aside {
        margin-top: 50px;
    }
}